/* Elements */

body{
    margin: 0px;
    margin-top: 30px;
    background-color: #F3E0BE;
}

h1{
    position: relative;
    left: 38%;
    font-size: 50px;
}

hr{
    color: gray;
    margin: 20px 50px;
}

input{
    position: relative;
    left: 35%;
    border-radius: 10px;
    border: 1px solid gray;
    height: 30px;
    width: 500px;
    font-size: 20px;
}

button{
    border-color: black;
    border-width: 5px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 30px;
    color: black;
}

button:hover{
    border-style: solid;
    border-color: white;
    color: white;
}

p{
    position: relative;
    left: 40%;
    font-size: 20px;
}

/* Classes */

.flex-container{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.color{
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-right: 80px;
    margin-bottom: 25px;
}

.avatar{
    border-radius: 150px;
}

.main{
    border-color: black;
    border-width: 5px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 30px;
    color: black;
}

.like{
    margin-top: 5px;
    height: 20%;
    width: 50%;
    font-size: 20px;
    background-color: yellow;
}